.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.activeItem {
  font-weight: bold;
}

.subList {
  display: flex;
  width: 80%;
}

.item {
  font-size: 14px;
  line-height: 4.0;
  margin-right: 40px;
}